pynput==1.7.1
pandas_profiling==2.9.0
pandasgui==0.2.5.1
scipy==1.5.2
pandas==1.1.2
matplotlib==3.3.2
feather_format==0.4.1
numpy==1.18.5
pandas_ui==0.1
appdirs==1.4.4
dataclasses==0.8
feather==0.9.1dev
ipython==7.19.0
Pillow==8.0.1
PyPDF2==1.26.0
PyQt5==5.15.1
PySimpleGUI==4.31.0
wordcloud==1.8.1
